<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    

    <div id="form">
        <h1>Cadastro Cliente</h1>
        <form method="post" action="{{ url_for('index') }}">
            <input name="nome" type="text" placeholder="Nome" maxlength="50"><br>
            <input name="email" type="email" placeholder="Email"> <br>
            <input name="telefone" type="tel" placeholder="Telefone" maxlength="11"><br>
            <select name="uf" id="uf"></select>
            <input name="cidade" type="text" placeholder="Cidade"><br>
            <input name="bairro" type="text" placeholder="Bairro"><br>
            <input name="rua" type="text" placeholder="Rua"><br>
            <input name="numero" type="text" placeholder="Numero"><br>
            <input name="complemento" type="text" placeholder="Complemento"><br>
            <input name="password" type="password" placeholder="Password"><br>
            <input name="password" type="password" placeholder="Confime Password"><br>
            <button>Salvar</button><br>
            <a href=" {{url_for('index')}} ">Voltar</a>
        </form>
    </div>
</body>
</html>