<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    

    <div id="form">
        <h1>Tela Login</h1>
        <form method="post" action="{{ url_for('login') }}">
            Nome: <input name="nome" type="text"> <br>
            Senha: <input name="password" type="password"> <br>
            <button>Entrar</button> <br>
            <a href=" {{ url_for('cadastrar') }} ">Criar Login</a>
        </form>
    </div>
</body>
</html>